<%
page.layout = "about"
page.title = theme.about.title || __('about.title')
page.subtitle = theme.about.subtitle || __('about.subtitle')
page.banner_img = page.banner_img || theme.about.banner_img
page.banner_img_height = page.banner_img_height || theme.about.banner_img_height
page.banner_mask_alpha = page.banner_mask_alpha || theme.about.banner_mask_alpha
%>

<style>
ul ul {
margin-left: 30px; /* Additional indent for nested lists */
}
</style>

<section class="about" style="margin: 50px 0;">
    <h1 style="text-align: center;font-size: 2rem;" class="fancy-color">About</h1>
    <!-- <p style="text-align: center;">
        <span> Ops! Page is not found! </span>
        |
        <a href="<%- url_for("/") %>">go back to home!</a>
    </p> -->
    <p style="text-align: left;text-indent: 60px;font-size: 25px;" class="flex-between;">
        &#9735; recommended links
    </p>
    <p style="text-align: left;text-indent: 60px;font-size: 20px;" class="flex-between;">
        &#10054;<a href="https://arxiv.org/list/math.GT/recent"> arxiv geometric-topology</a>
    </p>
    <p style="text-align: left;text-indent: 60px;font-size: 20px;" class="flex-between;">
        &#10054;<a href="http://www.math.ac.cn/xshd/sxsjz/"> amss institute-</a><a href="https://hrzsea.github.io/AMSS-Topology-Seminar/">topology-seminar</a>
    </p>
    <p style="text-align: left;text-indent: 60px;font-size: 20px;" class="flex-between;">
        &#10054;<a href="https://www.math.pku.edu.cn/kxyj/xsbg/tlb/topology/"> pku topology-</a><a href="https://www.math.pku.edu.cn/kxyj/xsbg/tlb/geometry/">geometry-seminar</a>
    </p>
    <p style="text-align: left;text-indent: 60px;font-size: 20px;" class="flex-between;">
        &#10054;<a href="https://ymsc.tsinghua.edu.cn/info/1053/2578.htm"> ymsc topology</a><a href="https://ymsc.tsinghua.edu.cn/info/1053/4238.htm">-g2t2-seminar</a>
    </p>
    <p style="text-align: left;text-indent: 60px;font-size: 20px;" class="flex-between;">
        &#10054;<a href="https://www.simis.cn/calendar2/"> simis calendar</a>
    </p>
    <p style="text-align: left;text-indent: 60px;font-size: 20px;" class="flex-between;">
        &#10054;<a href="https://www.bimsa.cn/research_detail/memberseminar.html"> bimsa member</a><a href="https://bimsa.net/activity/topsem/">-topology-seminar</a>
    </p>
    <p style="text-align: left;text-indent: 60px;font-size: 20px;" class="flex-between;">
        &#10054;<a href="https://fudantopology.github.io"> fudan topology-seminar</a>
    </p>
    <p style="text-align: left;text-indent: 60px;font-size: 20px;" class="flex-between;">
        &#10054;<a href="https://www.math.pku.edu.cn/teachers/lizq/seminars/pacific_quasiworld/PacificQuasiWorld.html#title"> pacific</a> <a href="https://sites.google.com/g.ucla.edu/quasiworld/"> quasiworld</a>
    </p>
    <p style="text-align: left;text-indent: 60px;font-size: 20px;" class="flex-between;">
        &#10054;<a href="https://sites.google.com/view/mhtrt"> mhtrt</a>
    </p>
    <p style="text-align: left;text-indent: 60px;font-size: 20px;" class="flex-between;">
        &#10054;<a href="https://amathr.org/problems/"> open problems</a><a href="https://quiddite.github.io/files_/Kirby LDT problems.pdf"> in LDT</a><a href="https://quiddite.github.io/files_/Kapovich BGKG problems.pdf">, KG</a><a href="https://quiddite.github.io/files_/Bestvina GGT problems.pdf">, GGT</a>
    </p>
    <!-- hitwebcounter Code START -->
    <p style="text-align:center">
        <a href="https://www.hitwebcounter.com/" target="_blank">
        <img src="https://hitwebcounter.com/counter/counter.php?page=21465932&style=0009&nbdigits=5&type=page&initCount=0" title="Free Tools" Alt="Free Tools"   border="0" /></a>                    
    </p>                
                                    
                                        
                                          
                            
    


</section>
